<!DOCTYPE html>
<html lang="en">
<head>
    <title>Share Wheels</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/css/stylesheet.css" rel="stylesheet"/>
    <link href="../assets/css/stylesheet2.css" rel="stylesheet"/>
    <script type="module" src="../controller/config.js"></script>
    <script type="module" src="../controller/getEvents.js"></script>
    <script type="module" src="../controller/firebaseConfig.js"></script>
    <script type="module" src="../controller/main.js"></script>
    <script type="module" src="../controller/sendEmail.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
</head>
<body>
  <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="container-fluid">
            <div id="logo">
                <a href="../index.html"><img id="logoImg" src="../assets/images/logo.png" alt="Logo"></a>
              </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" onclick="navBar();"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav me-auto">
                      <li class="nav-item"><a class='nav-link active' href="../index.html">Home</a><span class="visually-hidden">(current)</span></li>
                      <li class="nav-item"><a class='nav-link' href="About.html">About</a></li>
                      <li class="nav-item"><a class='nav-link' href="Contact.html">Contact</a></li>
                      <li class="nav-item" id="chat" style="display: none;"><a class='nav-link' href="chat.html">Chat</a></li>
                      <li class="nav-item" id="signOut" style="display: none;"><a class='nav-link' href="#" onclick="signOut(); return false;">Log out</a></li>
                      <li class="nav-item" id="signIn" style="display: none;"><a class='nav-link' href="#" onclick="signIn(); return false;">Login/Sign up with
                        <img id="google" alt="Google sign-in" src="../assets/images/google.png" />
                      </a></li>
                  </ul>
              </div>
          </div>
      </nav>
  </header>


  <div class="container marginTop">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h1 id="username"></h1>
            <h1 id="noAccess"></h1>
            <div class="card border-primary mb-3" id="driverForm" style="display: none;">
                <h3 class="card-header" style="text-align: center; color: white;">Register Driver Form</h3>
                <div class="card-body">
                    <form id="registerDriverForm">
                        <div class="form-group">
                            <label for="driverCarReg">Car Registration</label>
                            <input type="text" class="form-control" id="driverCarReg" name="driverCarReg" placeholder="Enter your car registration" required>
                        </div>
                        <div class="form-group">
                            <label for="driverCity">City/Town </label>
                            <input type="text" class="form-control" id="driverCity" name="driverCity" placeholder="Enter your city/town" required>
                        </div>
                        <div class="form-group">
                            <label for="county">County</label>
                            <select class="form-select" id="county" name="county"></select>
                        </div>
                        <div class="form-group">
                            <label for="driverMeetingPoint">Meeting Point </label>
                            <input type="text" class="form-control" id="driverMeetingPoint" name="driverMeetingPoint" placeholder="Enter meeting point" required>
                        </div>
                        <div class="form-group">
                            <label for="driverNumSeats">Number of seats free </label>
                            <input type="number" class="form-control" id="driverNumSeats" name="driverNumSeats" placeholder="Enter number of seats" required>
                        </div>
                        <br>
                        <div class="form-group">                            
                            <label for="carType">Car Type:  </label>
                            <input type="checkbox" id="electric" name="carType" value="Electric" required>
                            <label for="electric">Electric</label>
                        </div>
                        <br>
                        <button type="button" class="btn btn-success" onclick="registerDriver();">Register</button>
                        <a href="../index.html" class="btn btn-danger">Cancel</a>
                    </form>
                </div>
                <div class="card-footer text-muted"></div>
            </div>
        </div>
    </div>
  </div> 
</body>
</html>