<!DOCTYPE html>
<html lang="en">
<head>
    <title>Share Wheels</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/css/stylesheet.css" rel="stylesheet"/>
    <link href="../assets/css/stylesheet2.css" rel="stylesheet"/>
    <script type="module" src="../controller/config.js"></script>
    <script type="module" src="../controller/getEvents.js"></script>
    <script type="module" src="../controller/firebaseConfig.js"></script>
    <script type="module" src="../controller/main.js"></script>
    <script type="module" src="../controller/sendEmail.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
</head>
<body>
  <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="container-fluid">
            <div id="logo">
                <a href="index.html"><img id="logoImg" src="../assets/images/logo.png" alt="Logo"></a>
              </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" onclick="navBar();"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav me-auto">
                      <li class="nav-item"><a class='nav-link active' href="index.html">Home</a><span class="visually-hidden">(current)</span></li>
                      <li class="nav-item"><a class='nav-link' href="About.html">About</a></li>
                      <li class="nav-item"><a class='nav-link' href="Contact.html">Contact</a></li>
                      <li class="nav-item" id="chat" style="display: none;"><a class='nav-link' href="chat.html">Chat</a></li>
                      <li class="nav-item" id="signOut" style="display: none;"><a class='nav-link' href="#" onclick="signOut(); return false;">Log out</a></li>
                      <li class="nav-item" id="signIn" style="display: none;"><a class='nav-link' href="#" onclick="signIn(); return false;">Login/Sign up with
                        <img id="google" alt="Google sign-in" src="../assets/images/google.png" />
                      </a></li>
                  </ul>
              </div>
          </div>
      </nav>
  </header>
  
  <div class="container marginTop" >
    <h1 id="username"></h1>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card border-primary mb-3">
                <h3 class="card-header" style="text-align: center; color: white;">ABOUT</h3>
                <div class="card-body">
                    <p style="font-size: 120%;">Share Wheels provides an opportunity for people to travel together to the same
                        event. Created with the environment in mind, Share Wheels connects fans going to the same events together, and
                        offers them an opportunity to carpool. If you can’t drive? No problem! You can still sign up to be a passenger
                        to all events!
                    </p><br>
                    <p style="font-size: 110%;">The primary advantage of carpooling to events rather than driving individually is that there is reduced
                        carbon emissions.
                        If one car is able to bring 5 people, there is 80% less carbon emissions going into the atmosphere than if
                        each person was to drive individually.
                        There is also 80% less fuel consumed.
                        <br>
                        On a broader scale, carpooling reduces the traffic on our road network. On an individual level, it is financially cheaper to carpool to an event. The money saved on fuel can
                        be used to purchase something at the event itself!
                    </p><br>
                    <p style="font-size: 110%;"> It is our belief that by sharing wheels to and from events we can have a positive impact on the level of carbon
                        emissions we produce on our way to our favourite events.
                        By sharing wheels, we also get the opportunity to meet and travel with fellow fans! <br>
                        It is for this reason that, Share Wheels is a win-win opportunity for both the environment and event goers!
                    </p>
                    <br>
                    <p style="font-size: 120%; color: white;"> Note: Drivers who have their rate between 0 and 1.9 stars, they will NOT match with any passengers.
                    </p>
                </div>
                <div class="card-footer text-muted"></div>
            </div>
        </div>
    </div>
  </div> 
</body>
</html>